<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mike182uk.snpt.workflow</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A3EF2582-0CAB-4F4D-BED9-E4A57A52EDC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B687E67-9AD7-49B4-B38A-DE95D5C711FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9A3BC29-9BC3-4F98-9EDD-E53847598768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D9A3BC29-9BC3-4F98-9EDD-E53847598768</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1030000E-AB0F-4B96-A4E4-3083D440CA5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Barrett</string>
	<key>description</key>
	<string>Find a snippet using snpt</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Snpt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>111</integer>
				<key>script</key>
				<string>echo "{query}" | /Users/mike/.nvm/versions/node/v5.3.0/bin/node /Users/mike/.nvm/versions/node/v5.3.0/bin/snpt cp</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>5B687E67-9AD7-49B4-B38A-DE95D5C711FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>snpt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/Users/mike/.nvm/versions/node/v5.3.0/bin/node /Users/mike/.nvm/versions/node/v5.3.0/bin/snpt ls | /usr/local/bin/fzf -f "{query}" | /Users/mike/.nvm/versions/node/v5.3.0/bin/node index.js
</string>
				<key>title</key>
				<string>Search for a snippet</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A3EF2582-0CAB-4F4D-BED9-E4A57A52EDC7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query} copied to the clipboard</string>
				<key>title</key>
				<string>Snippet Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1030000E-AB0F-4B96-A4E4-3083D440CA5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "{query}" | grep -io '^.*-' | tr -d ' -' | tr -d '\n'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9A3BC29-9BC3-4F98-9EDD-E53847598768</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1030000E-AB0F-4B96-A4E4-3083D440CA5F</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>5B687E67-9AD7-49B4-B38A-DE95D5C711FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A3EF2582-0CAB-4F4D-BED9-E4A57A52EDC7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9A3BC29-9BC3-4F98-9EDD-E53847598768</key>
		<dict>
			<key>ypos</key>
			<real>140</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/mike182uk/snpt</string>
</dict>
</plist>
